if SHIELD_DESYNCHRONIZED_LEFT

config ZMK_KEYBOARD_NAME
	default "Desynchronized (Left)"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_DESYNCHRONIZED_RIGHT

config ZMK_KEYBOARD_NAME
	default "Desynchronized (Right)"

endif

if SHIELD_DESYNCHRONIZED_LEFT || SHIELD_DESYNCHRONIZED_RIGHT

config SPI
	default y

config ZMK_SPLIT
	default y

endif